*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-family: "Ruda", sans-serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1220px;
  background: url("../img/IMG_7000-2.jpg") no-repeat left top scroll;
  background-size: cover;
}
.header_container {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  min-height: 70px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(54, 54, 54, 0.58);
}
.header_logo {
  flex: 0 0 80px;
  overflow: hidden;
}
.header_logo img {
  max-width: 100%;
}
.menu_list li{
position: relative;
margin: 0 0 0 25px;
}
.menu_link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
.menu_link:hover {
  color: rgb(13, 13, 65);
  text-shadow: 1px 1px 5px rgb(230, 192, 248);
}
@media (min-width: 767px) {
.menu_list {
  display: flex;
  
}
.menu_list li {
  list-style: none;
  padding: 10px 0;
}
}



.name {
  padding: 50px 0 150px 0;
  font-family: "Ruda", sans-serif;
  text-transform: uppercase;
}
.name_surname {
  font-size: 42px;
  line-height: 55px;
  letter-spacing: 0.2em;
  color: black;
  margin-bottom: 40px;
}
.name-job {
  font-size: 18px;
  letter-spacing: 0.2em;
  color: black;
}
.page {
  max-width: 100%;
  font-family: "Roboto", sans-serif;
}
.page_section {
  padding: 30px;
}
.page_section_1 {
  background-color: rgba(255, 222, 248, 0.7);
  max-width: 80%;
  border-radius: 0 120px 120px 120px;
}
.page_section_2 {
  background-color: rgba(204, 208, 255, 0.7);
  text-align: right;
}
.page_section_3 {
  background-color: rgba(222, 255, 247, 0.7);
}
.page_title {
  font-size: 32px;
  margin: 0 0 20px 0;
}
.page_text {
  font-size: 16px;
  line-height: 150%;
}

.footer {
  background-color: #363636;
  padding: 50px;
  text-align: center;
}
.motivation {
  background-color: rgba(255, 253, 205, 0.5);
  padding: 50px 0;
  text-align: center;
  margin-bottom: 120px;
}
.motivation_text {
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin: 20px 0;
}
.motivation_author {
  font-size: 14px;
  color: #585858;
  letter-spacing: 0.1em;
  margin: 20px 0;
}

.tabs_block a {
  color: #000000;
  text-decoration: none;
}
.tabs_block a:hover {
  color: rgb(73, 73, 73);
}
.icon {
  padding: 10px;
}
.footer_icons {
  padding: 10px;
}
.link_white {
  color: #fff;
  text-decoration: none;
}
.phone-number:hover {
  color: rgb(180, 180, 255);
}
.linkedin-link:hover {
  color: rgb(180, 180, 255);
}
.footer_link {
  padding: 10px;
}

@media (max-width: 767px) {


@media (max-width: 576px) {
  .wrapper {
    background: url("../img/IMG_7000-4.jpg") no-repeat left top scroll;
    background-size: cover;
  }
  
  .footer {
    padding: 50px 10px;
  }
}